header {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2vh;
}

li {
  margin: 2px;
}

h1,
h2,
p {
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  margin-bottom: 4px;
}

label {
  font-size: 2vh;
}

input {
  padding: 2px 4px;
  border-radius: 4px;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input:focus:invalid {
  border: 2px solid red;
}

fieldset {
  margin-bottom: 2vh;
  border: 2px solid black;
  border-radius: 4px;
}

.iFrame {
  display: flex;
  align-items: center;
  justify-content: center;
}
