.card {
  background: #edefee;
  width: 250px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 3vh;
  margin-left: 3vh;
}

.cardImage img {
  height: 250px;
  width: 250px;
  border-radius: 18px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.cardTitle p {
  font-weight: bold;
}

.cardTitle p:last-child {
  color: #ee9972;
}

.cardDescription p {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  margin-top: 4px;
}

.cardFooter {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
}

.cardFooter img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
