footer {
  background: #afdceb;
  grid-area: footer;
  height: 25vh;
  width: 100%;
  background: #495e57;
  color: #edefee;
}

.footerWrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.footerImg {
  height: 20vh;
  width: auto;
  padding: 10px;
}

.footerNav {
  color: #edefee;
}

.footerHead {
  font-weight: bold;
  font-size: 4vh;
}
